body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
  }
  
  .app {
    max-width: 400px;
    margin: 20px auto;
    background: rgb(223, 73, 160);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px gray;
  }
  
  input {
    padding: 8px;
    margin: 5px;
  }
  
  button {
    padding: 8px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background: darkblue;
  }
  
  .completed {
    text-decoration: line-through;
    color: green;
  }
  
  li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  li span {
    cursor: pointer;
  }
  